@import "../../node_modules/tentkeep-vue/src/assets/sass/base";

:root {
  --hi: rgba(254,254,254, 1);
  --base-colorR: 167; --base-colorG: 208; --base-colorB: 231;
  --contrast-colorR: 60; --contrast-colorG: 77; --contrast-colorB: 79;
  --primaryR: 54; --primaryG: 69; --primaryB: 135;
  --secondaryR: 249; --secondaryG: 107; --secondaryB: 105;
  --tertiaryR: 221; --tertiaryG: 209; --tertiaryB: 192;
  --shadowRGB: 77,77,77;
  --shadow-color: rgb(var(--shadowRGB));

  --bg-gradient: linear-gradient(135deg,
      #ffeede 1%,
      rgba(var(--base-color), .4),
      rgba(var(--primary), .2));
}

#app {
  background: linear-gradient(135deg,
      var(--tertiary2) 1%,
      var(--tertiary3),
      var(--primary3));
}

html, body, #app {
  height: 100%;
}

body {
  font-family: 'PT Sans', serif;
}

ul {
  list-style: none;
}
hr {
  @extend .bg-primary3;
  border-color: rgba(var(--tertiary), 1);
  border-left: none !important;
  border-right: none !important;
  @extend .shadow;
  height: 3px;
}

.mono {
  font-family: 'Space Mono', monospace;
}

.card {
  @extend .p2;
  @extend .bg-hi;
  @extend .shadow-deep;
  @extend .border-left-secondary;
  border-width: 4px;
}
.shadow-deep {
  box-shadow: 1px 1px 8px rgba(var(--shadowRGB), .3);
}

.hi { color: var(--hi); }
.bg-hi { background-color: var(--hi); }
.border-hi { border: solid 1px var(--hi); }

.title-label {
  @extend .uppercase;
  @extend .m2-bottom;
  @extend .primary;
  @extend .p1;
  border-left: solid 1px #ffffff99;
  border-bottom: solid 1px #ffffff99;
  animation: letter-spread 1s forwards;
}
@keyframes letter-spread {
	0% {
    letter-spacing: -1px;
	}
	100% {
    letter-spacing: 2px;
	}
}

.empty-state {
  @extend .p3;
  @extend .text-center;
  @extend .rounded;
  @extend .shadow-deep;
  background-color: #00000022;
  text-shadow: 0px 0 4px #ffffff99;
}

.hanging-tab {
  @extend .p1;
  @extend .m1-right;
  @extend .pointer;
  @extend .border-primary3;
  @extend .bg-hi;
  @extend .secondary2;
  @extend .z0;
  text-transform: capitalize;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: box-shadow .5s, border-color .5s;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
  &.active {
    @extend .contrast;
    border-color: var(--primary);
    border-bottom-width: 3px;
    box-shadow: none;
  }
}

.gradient-animate {
  background: var(--bg-gradient);
	background-size: 400% 400%;
	animation: gradientBG 5s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
