$base-color: #a8d0e6;
$contrast-color: #3d4d4f;
$primary: #374785;
$secondary: #f76c6c;
$tertiary: #ddd1c1;
$shadow-color: #77777788;

@import "../../node_modules/tentkeep-vue/src/assets/sass/base";

html, body, #app {
  height: 100%;
}
ul {
  list-style: none;
}
hr {
  border-color: $tertiary;
}

body {
  background: linear-gradient(135deg, #ffeede 1%, $base-color, fade-in($base-color, .9));
  font-family: 'PT Sans', serif;
}

.mono {
  font-family: 'Space Mono', monospace;
}

.card {
  @extend .p2;
  background-color: white;
  @extend .shadow-deep;
  @extend .border-left-secondary;
  border-width: 4px;
}
.shadow-deep {
  box-shadow: 1px 1px 8px fade-out($shadow-color, .3);
}
.bg-tertiary-2 {
  background-color: darken($tertiary, 20%);
}

hr {
  @extend .shadow;
  height: 3px;
}

.title-label {
  @extend .uppercase;
  @extend .m2-bottom;
  @extend .primary;
  @extend .p1;
  border-left: solid 1px #ffffff99;
  border-bottom: solid 1px #ffffff99;
  animation: letter-spread 1s forwards;
}
@keyframes letter-spread {
	0% {
    letter-spacing: -1px;
	}
	100% {
    letter-spacing: 2px;
	}
}

.empty-state {
  @extend .p3;
  @extend .text-center;
  @extend .rounded;
  @extend .shadow;
  background-color: #00000022;
  text-shadow: 0px 0 4px #ffffff99;
}

.hanging-tab {
  @extend .shadow;
  @extend .p1;
  @extend .m1-right;
  @extend .pointer;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color .5s;
  &.active {
    @extend .bg-secondary;
    color: white;
  }
}

.gradient-animate {
  background: linear-gradient(135deg, #ffeede 1%, $base-color, fade-in($base-color, .9));
	background-size: 400% 400%;
	animation: gradientBG 5s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
